extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  section.categories
    .container
      h2.section-title #{titlePage}
      .categories-grid
        each item in topics
          .category-card
            .category-image
              img(src=item.avatar, alt=item.title)
              .category-icon
                i.fas.fa-music
            .category-content
              h3 #{item.title}
              p #{item.description}
              a.btn(href=`/songs/${item.slug}`) Xem chi tiết